<form>

    <div class="field">
        <mat-form-field>
            <input matInput placeholder="Isim" type="text" [(ngModel)]="section.name" name="name" required>
        </mat-form-field>

        <div class="columns is-marginless">
            <div class="column is-half">
                <button mat-raised-button color="warn" class="is-12" type="button" (click)="close()">Kapat</button>
            </div>
            <div class="column is-half">
                <button mat-raised-button class="is-12" type="button" (click)="save()">Ekle</button>
            </div>
        </div>

    </div>
</form>