<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<div class="navbar-item">

    <button mat-button class="" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{user.name}}</button>

        <a routerLink="/profile">
            <button mat-menu-item>Profil</button>
        </a>
        <a routerLink="/settings">
            <button mat-menu-item>Ayarlar</button>
        </a>
        <a routerLink="/logout">
            <button mat-menu-item>Çıkış</button>
        </a>
    </mat-menu>
</div>