<mat-spinner *ngIf="!isPageReady" class="loading"></mat-spinner>

<div class="main-container" *ngIf="isPageReady">

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #snav id="snav" [mode]="mode" opened="true">

            <app-sidebar [menus]="menus" [user]="user" (mode)="setMode($event)"></app-sidebar>

        </mat-sidenav>

        <mat-sidenav-content class="page-wrapper">

            <mat-toolbar class="topbar relative">

                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
                                <mat-icon>{{snav.opened ? 'chevron_left': 'chevron_right'}}</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-start">
                        </div>

                        <div class="navbar-end">
                            <app-header [user]="user"></app-header>
                        </div>
                    </div>
                </nav>
            </mat-toolbar>

            <div class="page-content">

                <router-outlet></router-outlet>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>